:root {
  --red-100: #f00;
  --red-300: #c40000;
  --red-500: #9e0000;
  --red-700: #810000;
  --red-900: #6a0000;
  --blue-100: #0ff;
  --blue-300: #00b0c7;
  --blue-500: #0084ff;
  --blue-700: #0051ff;
  --blue-900: #00f;
  --green-100: #2bff00;
  --green-300: #28ad00;
  --green-500: #229100;
  --green-700: #1e7000;
  --green-900: #0a5700;
  --yellow-100: #fe0;
  --yellow-300: #ee0;
  --yellow-500: #c7ba00;
  --yellow-700: #b3b001;
  --yellow-900: #918e00;
  --gray-100: #f0f0f0;
  --gray-300: #c0c0c0;
  --gray-500: #6b6b6b;
  --gray-700: #2e2e2e;
  --gray-900: #0f0f0f;
  --white: #fff;
  --black: #000;
}