/*Variables*/

:root {
  --norm-rem: 0.25rem;
  --norm-percent: 4%;
  --white: #fff;
  --black: #000;
  --pink: #ff7b7b;
  --light-red: #f55;
  --dark-red: #b6000b;
  --mid-blue: #0093f5;
}

/*Background styles*/

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.bg-dark-red {
  background-color: var(--dark-red);
}

.bg-light-red {
  background-color: var(--light-red);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-mid-blue {
  background: var(--mid-blue);
}

/*Border style*/

.border-white {
  border-color: var(--white);
}

.border-black {
  border-color: var(--black)
}

.border-dark-red {
  border-color: var(--dark-red);
}

.border-light-red {
  border-color: var(--light-red);
}

.border-pink {
  border-color: var(--pink);
}

.border-mid-blue {
  border-color: var(--mid-blue);
}


.border-transparent {
  border-color: transparent;
}

.border-solid {
  border-style: solid;
}

.border-1-px {
  border-width: 1px;
}

.border-5-px {
  border-width: 5px;
}

.border-none {
  border: none;
}

.rounded-xxsm {
  border-radius: var(--norm-percent);
}

.rounded-xsm {
  border-radius: calc(var(--norm-percent) * 2);
}

.rounded-sm {
  border-radius: calc(var(--norm-percent) * 3);
}

.rounded-md {
  border-radius: calc(var(--norm-percent) * 4);
}

.rounded-xl {
  border-radius: calc(var(--norm-percent) * 5);
}

.rounded-xxl {
  border-radius: calc(var(--norm-percent) * 6);
}

.rounded {
  border-radius: calc(var(--norm-percent) * 12.5);
}

/*Box-sizing*/

.sizing-border-box {
  box-sizing: border-box;
}

.sizing-content-box {
  box-sizing: content-box;
}

/*Color styles*/

.color-white {
  color: var(--white);
}

.color-black {
  color: black;
}

.color-dark-red {
  color: var(--dark-red);
}

.color-light-red {
  color: var(--light-red);
}

.color-pink {
  color: var(--pink);
}

.color-mid-blue {
  color: var(--mid-blue);
}

/*Componants*/

/*Button*/

.base-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 12px;
  width: clamp(50px, 100px, 200px);
  height: clamp(50px, 100px, 200px);
  color: var(--pink);
  background: var(--mid-blue);
  border-radius: calc(var(--norm-percent) * 5);
  border: none;
  box-shadow: 0 -2px 2px 2px #2c2c2c, -5px 2px 4px 5px #000;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.7s ease;
  padding: calc(var(--norm-percent) / 1.5);
  margin-left: calc(var(--norm-percent) / 3);
  margin-right: calc(var(--norm-percent) / 3);
}

.base-btn:hover {
  width: clamp(58px, 116px, 232px);
  height: clamp(58px, 116px, 232px);
  color: var(--white);
  background: var(--light-red);
  margin: calc(var(--norm-percent) / 2);
  border-radius: calc(var(--norm-percent) * 8);
  box-shadow: 0 3px 1px 4px #000, 1px 4px 3px 5px #2c2c2c;
}

.base-btn:active {
  width: clamp(66px, 132px, 264px);
  height: clamp(66px, 132px, 264px);
  margin: calc(var(--norm-percent) / 1.5);
  border-radius: calc(var(--norm-percent) * 10);
  box-shadow: 3px 4px 2px 5px #000, -5px -1px 3px 1px #2c2c2c;
}

/*Cursor styles*/

.cursor-pointer {
  cursor: pointer;
}

/*Float styles*/

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*Flex styles*/

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

/*Font styles*/

.font-lg {
  font-size: 1.125rem;
}

/*Height styles*/

.h-1 {
  height: var(--norm-rem);
}

.h-2 {
  height: calc(var(--norm-rem) * 2);
}

.h-3 {
  height: calc(var(--norm-rem) * 3);
}

.h-4 {
  height: calc(var(--norm-rem) * 4);
}

.h-5 {
  height: calc(var(--norm-rem) * 5);
}

.h-6 {
  height: calc(var(--norm-rem) * 6);
}

.h-7 {
  height: calc(var(--norm-rem) * 7);
}

.h-8 {
  height: calc(var(--norm-rem) * 8);
}

.h-9 {
  height: calc(var(--norm-rem) * 9);
}

.h-10 {
  height: calc(var(--norm-rem) * 10);
}

/*Margin styles*/

.margin-0 {
  margin: 0;
}

.margin-1 {
  margin: var(--norm-rem);
}

.margin-2 {
  margin: calc(var(--norm-rem) * 2);
}

.margin-3 {
  margin: calc(var(--norm-rem) * 3);
}

.margin-4 {
  margin: calc(var(--norm-rem) * 4);
}

.margin-5 {
  margin: calc(var(--norm-rem) * 5);
}

.margin-6 {
  margin: calc(var(--norm-rem) * 6);
}

.margin-7 {
  margin: calc(var(--norm-rem) * 7);
}

.margin-8 {
  margin: calc(var(--norm-rem) * 8);
}

.margin-9 {
  margin: calc(var(--norm-rem) * 9);
}

.margin-10 {
  margin: calc(var(--norm-rem) * 10);
}

.margin-5-px {
  margin: 5px;
}

.margin-10-px {
  margin: 10px;
}

/*Padding styles*/

.p-1 {
  padding: var(--norm-rem);
}

.p-2 {
  padding: calc(var(--norm-rem) * 2);
}

.p-3 {
  padding: calc(var(--norm-rem) * 3);
}

.p-4 {
  padding: calc(var(--norm-rem) * 4);
}

.p-5 {
  padding: calc(var(--norm-rem) * 5);
}

.p-6 {
  padding: calc(var(--norm-rem) * 6);
}

.p-7 {
  padding: calc(var(--norm-rem) * 7);
}

.p-8 {
  padding: calc(var(--norm-rem) * 8);
}

.p-9 {
  padding: calc(var(--norm-rem) * 9);
}

.p-10 {
  padding: calc(var(--norm-rem) * 10);
}

.p-5-px {
  padding: 5px;
}

.p-10-px {
  padding: 10px;
}

.py-1 {
  padding-left: var(--norm-rem);
  padding-right: var(--norm-rem);
}

.py-2 {
  padding-left: calc(var(--norm-rem) * 2);
  padding-right: calc(var(--norm-rem) * 2);
}

.py-3 {
  padding-left: calc(var(--norm-rem) * 3);
  padding-right: calc(var(--norm-rem) * 3);
}

.py-4 {
  padding-left: calc(var(--norm-rem) * 4);
  padding-right: calc(var(--norm-rem) * 4);
}

.py-5 {
  padding-left: calc(var(--norm-rem) * 5);
  padding-right: calc(var(--norm-rem) * 5);
}

.py-6 {
  padding-left: calc(var(--norm-rem) * 6);
  padding-right: calc(var(--norm-rem) * 6);
}

.py-7 {
  padding-left: calc(var(--norm-rem) * 7);
  padding-right: calc(var(--norm-rem) * 7);
}

.py-8 {
  padding-left: calc(var(--norm-rem) * 8);
  padding-right: calc(var(--norm-rem) * 8);
}

.py-9 {
  padding-left: calc(var(--norm-rem) * 9);
  padding-right: calc(var(--norm-rem) * 9);
}

.py-10 {
  padding-left: calc(var(--norm-rem) * 10);
  padding-right: calc(var(--norm-rem) * 10);
}

.py-5-px {
  padding-left: 5px;
  padding-right: 5px;
}

.py-10-px {
  padding-left: 10px;
  padding-right: 10px;
}

/*Position styles*/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-relative {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*Text styles*/

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-lowercase {
  text-transform: lowercase;
}

/*Width style*/

.w-max-content {
  width: max-content;
}

.w-1 {
  width: var(--norm-rem);
}

.w-2 {
  width: calc(var(--norm-rem) * 2);
}

.w-3 {
  width: calc(var(--norm-rem) * 3);
}

.w-4 {
  width: calc(var(--norm-rem) * 4);
}

.w-5 {
  width: calc(var(--norm-rem) * 5);
}

.w-7 {
  width: calc(var(--norm-rem) * 7);
}

.w-8 {
  width: calc(var(--norm-rem) * 8);
}

.w-9 {
  width: calc(var(--norm-rem) * 9);
}

.w-10 {
  width: calc(var(--norm-rem) * 10);
}

/*Z-index*/

.zi-0 {
  z-index: 0;
}

.zi-1 {
  z-index: 1;
}

.zi-2 {
  z-index: 2;
}

.zi-3 {
  z-index: 3;
}

.zi-4 {
  z-index: 4;
}

.zi-5 {
  z-index: 5;
}

.zi-6 {
  z-index: 6;
}

.zi-7 {
  z-index: 7;
}

.zi-8 {
  z-index: 8;
}

.zi-9 {
  z-index: 9;
}

.zi-10 {
  z-index: 10;
}

.zi-auto {
  z-index: auto;
}